@tailwind base;
@tailwind components;
@tailwind utilities;


.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}


black-gradient {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #434343,
      #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #434343,
      #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(-90deg,
      #804dee 0%,
      rgba(60, 51, 80, 0) 100%);
}


.orange-text-gradient {
  background: #f12711;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #f12711,
      #f5af19);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #f12711,
      #f5af19);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #11998e,
      #38ef7d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #11998e,
      #38ef7d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #2f80ed,
      #56ccf2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #2f80ed,
      #56ccf2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #ec008c,
      #fc6767);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #ec008c,
      #fc6767);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
  z-index: -50;
  color: aliceblue;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0.0deg)
  }
}

.wrapper-bg {
  background-image: url('../../public/bkg.png');
}

.styled-bg-clr {
  background: radial-gradient(38.07% 38.07% at 50% 0, #331d3b 0, rgba(51, 29, 59, 0) 100%), radial-gradient(41.61% 55.5% at 50% 0, rgba(17, 18, 19, 0) 0, #111213 100%), conic-gradient(from 180deg at 50% 0, #331c30 0deg, #3f1b29 43.94deg, #1a1a6c 270.8deg, #351b2f 1turn), #111213;
}

a {
  transition: color .3s ease-out;
}

.sidebar-bkg {
  background: linear-gradient(90deg, #2f3132, #202223);
  box-shadow: 0 4px 32px rgba(0, 0, 0, .25);
  z-index: 100;
}

.topic-card {
  border-radius: 0.5rem;
  background: linear-gradient(180deg, #44474a, #2f3132);
  box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, .25), inset 1px 1px 1px 0 hsla(0, 0%, 100%, .1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1.3rem;
}

@media (min-width: 576px) {
  .c-i-box-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.c-i-box-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1.3rem;
  margin-bottom: 1rem;
}


.color-anim {
  transition: color .3s ease-out;
}

.next-page-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 76.5rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(180deg, #2f3132, #202223);
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, .25), inset 1px 1px 1px hsla(0, 0%, 100%, .1);
  margin-left: auto;
  margin-right: auto;
}

.bggrad {
  background: linear-gradient(180deg, #2f3132, #202223) !important;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, .25), inset 1px 1px 1px hsla(0, 0%, 100%, .1) !important;
}

.react-syntax-highlighter-line-number {
  margin-right: 0.5rem;
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

/* 
.next-page-cont{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  padding: 2rem 1rem 2.25rem;
  border-radius: 0.5rem;
  
  outline: none;
  text-decoration: none;
  overflow: auto;
}

@media (min-width: 768px){
.next-page-cont{
    padding: 2rem 2rem 2.25rem;
}
} */









button.back-to-top {
  margin: 0 !important;
  padding: 0 !important;
  background: linear-gradient(180deg, #2f3132, #202223);
  height: 0px;
  width: 0px;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  color: transparent;
  clear: both;
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  display: block;
  border: none;
  right: 50px;
  bottom: 75px;
  font-size: 0px;
  outline: 0 !important;
  z-index: 99;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus{
  outline: 0 !important;
}

button.back-to-top::before,
button.back-to-top::after {
  content: "";
  display: block;
  border-bottom: solid 10px #ffffff;
  border-left: solid 10px transparent;
  line-height: 0;
  border-right: solid 10px transparent;
  height: 0;
  margin: 18px auto 0;
  width: 0;
  border-radius: 20px;
  visibility: hidden;
}

button.back-to-top.show::after,
button.back-to-top.show::before {
  visibility: visible;
}

button.back-to-top::after {
  border-bottom-color: linear-gradient(180deg, #2f3132, #202223);
  position: relative;
  top: -24px;
}

button.back-to-top.show {
  display: block;
  background: linear-gradient(180deg, #2f3132, #202223);
  color: #ffffff;
  font-size: 25px;
  right: 25px;
  bottom: 50px;
  height: 50px;
  width: 50px;
  visibility: visible;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

button.back-to-top.show:active {
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}